<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Self Service Order</title>
</head>

<body>

    <main id="app">

        <section class="items" >
            <h4>Selecione os produtos</h4>
            <div class="product" 
            v-for="item in products" 
            @click="item.active = !item.active"
            :class="{selected : item.active}"
            >
                <div class="photo">
                    <img :src="item.photo">
                </div>
                <div class="description">
                    <span class="name">{{item.name}}</span>
                    <span class="price">$ {{item.price}}</span>
                    <div class="quantity-area" v-if="item.active==true">
                        <button @click.stop="item.quantity--" :disabled="item.quantity <=1">-</button>
                        <span class="quantity">{{item.quantity}}</span>
                        <button @click.stop="item.quantity++">+</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="summary">
            <strong>Resumo do pedido</strong>
            <table>
                <thead>
                    <tr>
                        <th>Items</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in products">
                        <template v-if="item.active">
                            <td>{{item.quantity + 'x ' +item.name}}</td>
                            <td>$ {{(item.quantity * item.price).toFixed(2)}}</td>
                        </template>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <th>$ {{calcTotal()}}</th>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

    <script src="scripts.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    products: window.products,
                    total:0,
                }
            },
            created() {},
            methods: {
                calcTotal(){
                    var total = 0
                    for (i in this.products){
                        if(products[i].active){
                            total += products[i].quantity * products[i].price
                        }
                    }
                    this.total = total
                    return total.toFixed(2)
                }
            },
        })
    </script>
</body>

</html>